<html>

<head>
  <meta charset="UTF-8" />
  <title>TecStore</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="static/favicon.ico">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=shopping_bag" />
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="static/htmx.min.js"></script>
</head>

<body>
  <p class="text-center text-2xl font-weight-bold text-indigo-800 mt-3 mb-4">Gopher store</p>

</body>


</html>
